
:root {
    --secondary : #E3FEF7;
    --primary : #77B0AA;
    --third : #135D66;
    --fourth : #83C0C1;
}

/* Container */
.container {
    display: flex;
    border: 1px solid black;
    height: 98vh;
    width: 99vw;
}

    /* Content */
    .content {
        display: flex;
        width: 100%;
    }

        /* Sidebar */
        .sidebar {
            border: 1px solid black;
            width: 20%;
            background-color: var(--primary);
        }

            /* InputFrame */

            .poppins {
                font-family: "Poppins", sans-serif;
                font-weight: 500;
                font-style: normal;
            }

            .inputFrame {
                text-align: center;
                display: flex;
                margin-left: 1em;
                margin-right: 1em;
                padding: 1em;
                flex-direction: column;
            }

            .sidePlaintext {
                max-width: 100%;
                max-height: 30em;
                margin-bottom: 1em;
                height: 30em;
                border-radius: 5px;
                border: none;
                background-color: var(--secondary);
            }

            .sideKey {
                margin-top: 1em;
                margin-bottom: 1em;
                border-radius: 5px;
                height: 2em;
                border: 1px solid;
                background-color: var(--secondary);
            }

            .sideButton {
                margin-top: 1em;
                height: 2em;
                border-radius: 5px;
                color: white;
                background-color: var(--third);
            }

            .sideButton:hover {
                color: black;
                background-color: var(--fourth);
            }
            /* InputFrame */
        /* Sidebar */

        /* 3D Container */
            .threeDContainer {
                width: 80%;
            }

            .upimage {
                width: 1em;
                display: inherit;
                position: absolute;
                top: 1em;
                right: 1em;
            }

            .upimage:hover {
                cursor: pointer;
            }
            
            input[type=file]::file-selector-button {
                visibility: hidden;
            }

            .downimage {
                width: 1em;
                display: inherit;
                position: absolute;
                bottom: 24%;
                right: 3em;
            }

            a {
                color: black;
            }

            /* 3D Frame */
                .threeDFrame {
                    border: 1px solid black;
                    height: 79%;
                }

                canvas {
                    height: 100%;
                    width: 100%;
                    background: #000;
                }
            /* 3D Frame */

            /* Decrypt Bar */
                .decryptbar {
                    height: 21%;
                    display: flex;
                    background-color: var(--primary);
                }

                .output {
                    margin: 1em;
                    width: 75%;
                    height: 80%;
                }

                .outputplaintext {
                    width: 99%;
                    height: 99%;
                    border-radius: 5px;
                    border: none;
                    background-color: var(--secondary);
                }
                /* Input Key */
                    .inputkey {
                        border: 1px solid black;
                        width: 23%;
                        display: flex;
                        flex-direction: column;
                    }

                    .keyInput {
                        margin: 1em;
                        height: 2em;
                        border: 1px solid;
                        border-radius: 5px;
                        background-color: var(--secondary);
                    }

                    .decryptButton {
                        margin: 1em;
                        height: 2em;
                        border: 1px solid black;
                        border-radius: 5px;
                        color: white;
                        background-color: var(--third);
                    }

                    .decryptButton:hover {
                        color: black;
                        background-color: var(--fourth);
                    }
                /* Input Key */
            /* Decrypt Bar */
        /* 3D Container */
    /* Content */
/* Container */